@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,700);


#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-0 .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #2c82c9;
}
#slider-n H1 {
  color: #ffffff;
  text-align: left;
}
#slider-n P {
  text-align: left;
  color: #2c82c9;
}
#slider-n B {
  font-family: 'Slabo 27px', serif;
  font-size: 30px;
}
#contacts1-3 P {
  color: #2c82c9;
}
#contacts1-3 UL {
  color: #4c6972;
}
#social-buttons2-4 .mbr-header__text {
  color: #27aae0;
}
#footer1-5 B {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 16px;
}



#ext_menu-8 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-8.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-8 .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-8 .mbr-navbar__hamburger {
  color: #2c82c9;
}
#content5-c .mbr-header .mbr-header__text {
  text-align: center;
  color: #2c82c9;
  font-family: 'Slabo 27px', serif;
  font-size: 36px;
}
#content5-c .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-c .mbr-article {
  color: #000000;
  font-family: 'Slabo 27px', serif;
}
#content5-c .mbr-article P {
  color: #2c82c9;
}
#testimonials1-d .mbr-reviews__text DIV {
  color: #2c82c9;
}
#testimonials1-d .mbr-reviews__text I {
  color: #000000;
}
#testimonials1-d .mbr-section__header {
  color: #2c82c9;
}
#contacts1-9 P {
  color: #2c82c9;
}
#contacts1-9 UL {
  color: #4c6972;
}
#footer1-a B {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 16px;
}


#ext_menu-e .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-e.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-e .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-e .mbr-navbar__hamburger {
  color: #2c82c9;
}
#form1-h .mbr-header__text {
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
  color: #2c82c9;
}
#form2-i .mbr-header__text {
  font-size: 20px;
  color: #2c82c9;
}
#contacts1-f P {
  color: #2c82c9;
}
#contacts1-f UL {
  color: #4c6972;
}
#footer1-g B {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 16px;
}
