@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header1-1 H1 {
  color: #ffffff;
  text-align: left;
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
}
